Django>=4.2,<5.0
djangorestframework>=3.14,<3.15
djoser>=2.2,<2.3
webcolors>=1.13,<1.14
psycopg2-binary>=2.9,<2.10
Pillow>=10.1,<10.2
pytest>=7.4,<7.5
pytest-django>=4.7,<4.8
pytest-pythonpath>=0.7,<0.8
PyYAML>=6.0,<6.1
gunicorn==21.2.0